/* Maps define size for html main*/
#mapT {
    width: 900px;
    height: 250px;
    background-color: #686666;
    border: solid black;
        border-radius: 10px;
    padding: 25px;
    
   }
#mapB {
    width: 900px;
    height: 250px;
    background-color: #868686;
    border: solid black;
        border-radius: 10px;

    padding: 25px;
    
    }

.h1{
    font-size: 25px;
    font-weight: 300;
}

.body {
    padding: 100px;
    margin: 100px;
    background-color: #1A237E;  /* Dark blue background */
    color: #ffffff;             /* White text */
    font-family: "Times New Roman", Times, serif;
  }
  
.text1 {
    font-size: 24px;
    color: tomato;
    font-weight: bold;
}